b__*
*.stderr
*.stdout
*.d
*.ali
*.bexch
*.o
*.out
*.hi
*.class
*.aux
*.log
*.pdf
*.fdb_latexmk
*.fls
*.synctex.gz
*.a
*.deps
*.yy.c
main
!main/
test
!test/
target
__pycache__/
.env/
build/
.cache/
*.zip
cmake-scripts/
